{% extends "base.j2" %}

{% block main %}
    {%- macro entry(e) %}
        <li>
            <a href="{% if 'link' in e %}{{ e.link }}{% else %}{{ e._path }}{% endif %}">
                {{ e.title }}
            </a>
            {% if e.description %} - {{ e.description }}{% endif %}
            {% if e.date %}<time datetime="{{ e.date }}"> ({{ e.date.split('-')[0] }})</time>{% endif %}
        </li>
    {% endmacro %}

    <h1>Evan Widloski</h1>

    <img style="margin: auto;display: block;max-width: 20ch" alt="lego head site logo" src="/man.svg">

    <nav>
        <span><a href="http://github.com/evidlo">github.com/evidlo</a></span>
        <span><a href="resume.pdf">CV</a></span>
        <span><a href="rss.html">RSS</a></span>
        <span><a href="evanwidloski.gpg">GPG</a></span>
    </nav>

    <article>
    <h2>Software Projects</h2>
    <ul>
        {%- for project in glob('software/**/*.md')|fm|selectattr('date')|sort(attribute='date', reverse=true) -%}
            {{ entry(project) }}
        {%- endfor -%}
    </ul>
    </article>

    <article>
    <h2>Hardware Projects</h2>
    <ul>
        {%- for project in glob('projects/**/*.md')|fm|selectattr('date')|sort(attribute='date', reverse=true) -%}
            {{ entry(project) }}
        {%- endfor -%}
        {%- for project in glob('projects/**/*.md')|fm|rejectattr('date') -%}
            {{ entry(project) }}
        {%- endfor -%}
    </ul>
    </article>

    <article>
    <h2>Research/Publications</h2>
    <ul>
        {%- for project in glob('research/**/*.md')|fm|selectattr('date')|sort(attribute='date', reverse=true) -%}
            {{ entry(project) }}
        {%- endfor -%}
        {%- for project in glob('research/**/*.md')|fm|rejectattr('date') -%}
            {{ entry(project) }}
        {%- endfor -%}
    </ul>
    </article>

    <article>
    <h2>Posts</h2>
    <ul>
        {%- for project in glob('posts/**/*.md')|fm|selectattr('date')|sort(attribute='date', reverse=true)|selectattr('title') -%}
            {{ entry(project) }}
        {%- endfor -%}
        {%- for project in glob('posts/**/*.md')|fm|rejectattr('date')|selectattr('title') -%}
            {{ entry(project) }}
        {%- endfor -%}
    </ul>
    </article>

    <article>
    <h2>Notes</h2>
    <ul>
    {%- for notes in glob('notes/**/*.md')|fm|selectattr('title') -%}
        {{ entry(notes) }}
    {%- endfor -%}

        <li>
            <a href="notes/ece321">ECE321</a> - Electromechanical Devices
        </li>
        <li>
            <a href="notes/ma279">MA279</a> - Real Analysis
        </li>
        <li>
            <a href="notes/attiny">ATTiny</a> - ATTiny85 Examples
        </li>
    </ul>
    </article>
{% endblock %}
