{% extends 'layout/base.html' %}

{% block content %}
<body>
    <div class="v vc">
        <div class="h hc">
            <div class="v">
                {% for section in sections %}
                <div class="simplebox">
                    {% if section.link %}
                    <a class="nolink" href="{{ link }}">
                    {% endif %}
                    <div class="title">
                        {{ section.title}}
                    </div>
                    <div class="body" style="max-width: 300px;">
                        {{ section.text }}
                    </div>
                    {% if section.link %}
                    </a>
                    {% endif %}
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</body>
{% endblock %}
