{% extends 'layout/base.html' %}

{% block content %}

<body>
  <div class="h hc">
    <div class="v">
        {% for section in sections %} 
        <div class="h hc">
        <h1>{{section['name']}}</h1>
        </div>
        <hr/>
        {% for item in section['items'] %}
        {% if loop.index0 % 2 == 0 %}
        <div class="h hc">
        {% endif %}
        <div class="simplebox preview">
            <a href="{{item.link}}" class="nolink">
            <div class="title">
                {{item.name}}
            </div>
            <div class="body">
            {% if item.img %}
            <img src="{{item.img}}" class="icon" alt="{{item.alt}}"/>
            {% endif %}
            {{item.desc}}
            </div>
            </a>
        </div>
        {% if loop.index0 % 2 == 1 or loop.last %}
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
  </div>
</body>


{% endblock %}
