{% extends 'layout/base.html' %}

{% block content %}
<body>
	<div class="v h">
		<div class="h hc">
			<div class="simplebox">
				<div class="title">{{title}}</div>
				<div class="body v">
          {% if resources %}
          <div class="project_head h">
          {% for resource in resources %}
            <a  href="{{resource.link}}">
            <div class="v vc">
                <div class="h">
                      <div><img src="{{resource.img}}"/></div>
                      <div class="v vc">{{resource.text}}</div>
                </div>
            </div>
            </a>
          {% endfor %}
          </div>
          {% endif %}
          {{ content }}
				</div>
			</div>
		</div>
	</div>
</body>

{% endblock %}
